In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt


conn = sqlite3.connect('films.db') 
cur = conn.cursor()

In [ ]:
try:
    cur.execute("DROP TABLE FILM_ACTOR_PARTICIPATION")
    cur.execute("DROP TABLE ACTOR")
    cur.execute("DROP TABLE FILM")
except:
    print("Tables did not exist or an error occurred dropping them.")

## C.1. -- Create the tables of the database.

In [ ]:
createTableFilmStmt = "CREATE TABLE FILM ( " + \
                      "FILM_ID varchar(100) PRIMARY KEY, " + \
                      "FILM_TITLE varchar(500) NOT NULL, " + \
                      "FILM_YEAR_END int check(FILM_YEAR_END >= 1870) " + \
                      "); "

In [ ]:
cur.execute(createTableFilmStmt)

In [ ]:
createTableActorStmt = "CREATE TABLE ACTOR ( " + \
                       "ACTOR_ID varchar(100) PRIMARY KEY, " + \
                       "ACTOR_NAME varchar(255) NOT NULL " + \
                       "); "

In [ ]:
cur.execute(createTableActorStmt)

In [ ]:
createTableParticipStmt = "CREATE TABLE FILM_ACTOR_PARTICIPATION ( " + \
                          "ACTOR_ID varchar(100) NOT NULL, " + \
                          "FILM_ID varchar(100) NOT NULL, " + \
                          "PRIMARY KEY (ACTOR_ID, FILM_ID), " + \
                          "FOREIGN KEY (ACTOR_ID) REFERENCES ACTOR (ACTOR_ID), " + \
                          "FOREIGN KEY (FILM_ID) REFERENCES FILM (FILM_ID) " + \
                          "); "

In [ ]:
cur.execute(createTableParticipStmt)

## C.3. -- Populate the database.

Tables were populated before demonstrating the CRUD operations.

In [ ]:
insertFilmStmt = "INSERT INTO FILM(FILM_ID, FILM_TITLE, FILM_YEAR_END) VALUES(?, ?, ?);"

In [ ]:
cur.execute(insertFilmStmt, ('tt0053494', "Coronationstreet", 1960))
cur.execute(insertFilmStmt, ('tt0053555', "...und keiner schämte sich", 1960))
cur.execute(insertFilmStmt, ('tt0055214', "The Naked Edge", 1961))
cur.execute(insertFilmStmt, ('tt0055701', "The Saint", 1962))
cur.execute(insertFilmStmt, ('tt0056127', "Journey to the Seventh Planet", 1962))
cur.execute(insertFilmStmt, ('tt0056526', "State Fair", 1962))
cur.execute(insertFilmStmt, ('tt0056745', "Burke's Law", 1963))
cur.execute(insertFilmStmt, ('tt0057012', "Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb", 1964))
cur.execute(insertFilmStmt, ('tt0057731', "Another World", 1964))
cur.execute(insertFilmStmt, ('tt0058814', "Honey West", 1965))
cur.execute(insertFilmStmt, ('tt0058846', "Danger Man", 1964))
cur.execute(insertFilmStmt, ('tt0058938', "Le bambole", 1965))
cur.execute(insertFilmStmt, ('tt0060232', "The Chase", 1966))
cur.execute(insertFilmStmt, ('tt0060741', "The Navy vs. the Night Monsters", 1966))
cur.execute(insertFilmStmt, ('tt0061910', "Lille mand, pas på", 1968))
cur.execute(insertFilmStmt, ('tt0062111', "Pension Clausewitz", 1967))
cur.execute(insertFilmStmt, ('tt0062301', "The St. Valentine's Day Massacre", 1967))
cur.execute(insertFilmStmt, ('tt0062643', "Agent 0,5 och Kvarten - fattaruväl!", 1968))
cur.execute(insertFilmStmt, ('tt0062721', "Bel Ami", 1968))

In [ ]:
conn.commit()

In [ ]:
insertActorStmt = "INSERT INTO ACTOR(ACTOR_ID, ACTOR_NAME) VALUES (?, ?);"

In [ ]:
cur.execute(insertActorStmt, ('nm0104572', 'Marc Brandel'))
cur.execute(insertActorStmt, ('nm0104595', 'Nero Brandenburg'))
cur.execute(insertActorStmt, ('nm0104596', 'Otto Brandenburg'))
cur.execute(insertActorStmt, ('nm0104606', 'Ingela Brander'))
cur.execute(insertActorStmt, ('nm0104624', 'Janet Brandes'))
cur.execute(insertActorStmt, ('nm0104638', 'Alicia Brandet'))
cur.execute(insertActorStmt, ('nm0104642', 'Arne Brandhild'))
cur.execute(insertActorStmt, ('nm0104670', 'Walter Brandin'))
cur.execute(insertActorStmt, ('nm0104671', 'Heinz Theo Branding'))
cur.execute(insertActorStmt, ('nm0104706', 'Ernst Brandner'))
cur.execute(insertActorStmt, ('nm0104713', 'Marlon Brando Sr.'))
cur.execute(insertActorStmt, ('nm0104720', 'Jocelyn Brando'))
cur.execute(insertActorStmt, ('nm0104738', 'Bob Brandon'))
cur.execute(insertActorStmt, ('nm0104746', 'Clifton Brandon'))
cur.execute(insertActorStmt, ('nm0104752', 'David Brandon'))
cur.execute(insertActorStmt, ('nm0104772', 'Jane Alice Brandon'))
cur.execute(insertActorStmt, ('nm0104799', 'Roy Brandon'))
cur.execute(insertActorStmt, ('nm0104830', 'X Brands'))
cur.execute(insertActorStmt, ('nm0104837', 'Jutta Brandstaedter'))

In [ ]:
conn.commit()

In [ ]:
insertParticipationStmt = "INSERT INTO FILM_ACTOR_PARTICIPATION(ACTOR_ID, FILM_ID) VALUES(?, ?);"

In [ ]:
cur.execute(insertParticipationStmt, ('nm0104572', 'tt0058846' ))
cur.execute(insertParticipationStmt, ('nm0104572', 'tt0056745' ))
cur.execute(insertParticipationStmt, ('nm0104572', 'tt0058814' ))
cur.execute(insertParticipationStmt, ('nm0104595', 'tt0062111' ))
cur.execute(insertParticipationStmt, ('nm0104596', 'tt0056127' ))
cur.execute(insertParticipationStmt, ('nm0104606', 'tt0061910' ))
cur.execute(insertParticipationStmt, ('nm0104624', 'tt0055701' ))
cur.execute(insertParticipationStmt, ('nm0104638', 'tt0058938' ))
cur.execute(insertParticipationStmt, ('nm0104642', 'tt0062643' ))
cur.execute(insertParticipationStmt, ('nm0104670', 'tt0053555' ))
cur.execute(insertParticipationStmt, ('nm0104671', 'tt0062721' ))
cur.execute(insertParticipationStmt, ('nm0104706', 'tt0053555' ))
cur.execute(insertParticipationStmt, ('nm0104713', 'tt0055214' ))
cur.execute(insertParticipationStmt, ('nm0104720', 'tt0060232' ))
cur.execute(insertParticipationStmt, ('nm0104738', 'tt0062301' ))
cur.execute(insertParticipationStmt, ('nm0104746', 'tt0057012' ))
cur.execute(insertParticipationStmt, ('nm0104752', 'tt0056526' ))
cur.execute(insertParticipationStmt, ('nm0104752', 'tt0060741' ))
cur.execute(insertParticipationStmt, ('nm0104772', 'tt0057731' ))
cur.execute(insertParticipationStmt, ('nm0104799', 'tt0053494' ))

In [ ]:
conn.commit()

## C.2. -- Crud operations

### Creating one new film 
Note the insertion is related to the use case in that it adds a record that will be reflected in the barchart.

In [ ]:
cur.execute(insertFilmStmt, ('tt0074921', 'Most', 1969))
conn.commit()

### Deleteting one film -- First delete the participations for that film.

In [ ]:
idFilToDelete = "tt0058938"
deleteParticipationStmt = "DELETE FROM FILM_ACTOR_PARTICIPATION WHERE FILM_ID = ?"

cur.execute(deleteParticipationStmt, (idFilToDelete,))
conn.commit()

### Deleteting one film -- Then delete the film.

In [ ]:
deleteFilmStmt = "DELETE FROM FILM WHERE FILM_ID = ?"
cur.execute(deleteFilmStmt, (idFilToDelete,))
conn.commit()

### Updating one film (correcting a film's title)

In [ ]:
idFilToUpdate = "tt0053494"
updateFilmStmt = "UPDATE FILM SET FILM_TITLE = ? WHERE FILM_ID = ?"
cur.execute(updateFilmStmt, ("Coronation Street", idFilToUpdate))
conn.commit()

### Reading films (selecting films)

In [ ]:
selectFilmsStmt = "SELECT FILM_ID, FILM_TITLE, FILM_YEAR_END FROM FILM"
cur.execute(selectFilmsStmt)

result = cur.fetchall()
for id_film, title_film, year_film in result:
    print("Id of the film:" + id_film + ", title of the film: " + title_film + ", year of the film: " + str(year_film))

## C.4. -- Analytics operation

Only one analytics operation is required. Note that this operation is related to the use case.

In [ ]:
selectFilmsPerYearStmt = "SELECT COUNT(FILM_ID) as NUM_FILMS, " + \
                         "FILM_YEAR_END FROM FILM " + \
                         "GROUP BY FILM_YEAR_END"

cur.execute(selectFilmsPerYearStmt)

resultsFilmsPerYear = cur.fetchall()
df = pd.DataFrame(resultsFilmsPerYear, columns = ['NUM_FILMS', 'FILM_YEAR_END'])
df.head()

In [ ]:
plt.bar(df['FILM_YEAR_END'], df['NUM_FILMS'], color='royalblue', alpha=0.7)
plt.show()

## If you had specified in the use case, for example, "the system displays the range of years of the films in the database", then the following would have sufficed:

In [ ]:
selectMinMax = "SELECT MIN(FILM_YEAR_END) as MIN_YEAR, " + \
                       "MAX(FILM_YEAR_END) AS MAX_YEAR FROM FILM " 

cur.execute(selectMinMax)

resultsMinMax = cur.fetchall()

for r in resultsMinMax:
    print(r)

In [ ]:
conn.close()